@font-face {
	font-family: "Soehne";
	font-style: normal;
	font-weight: 400;
	src: url("soehne-buch.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Soehne";
	font-style: normal;
	font-weight: 500;
	src: url("soehne-kraftig.woff2") format("woff2");
	font-display: swap;
}

/* We only ship Buch (400) + Kraftig (500). Map heavier weights to Kraftig to avoid faux-bold artifacts. */
@font-face {
	font-family: "Soehne";
	font-style: normal;
	font-weight: 600;
	src: url("soehne-kraftig.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Soehne";
	font-style: normal;
	font-weight: 700;
	src: url("soehne-kraftig.woff2") format("woff2");
	font-display: swap;
}
